
/* header */

.header{
    flex-wrap: wrap;
    font-family:'Roboto';
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    margin-left: 9.5%;
    margin-right: 12%;
}
.logo {
    margin-left: 60px;
}

/* content1 */

.hero {
    background-color: #1F2937;
    padding-bottom: 60px;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

li {
    padding: 7px;
    text-align: center
}

a {
    color:#F9FAF8
}

.content1 {
    display:flex;
    justify-content: space-around;
    align-items: start;
    flex:auto;

}

.awesome {
    font-size: 20px;
    font-weight:900;
    width: 400px;
    display: flex;
    font-family:'Roboto';
    flex-shrink: 2;
    flex-wrap: wrap;
    color: #F9FAF8;
}

.content1 .subtext{
     color:#cccfd4;
}
.box1 {   
    color: white; 
    flex-shrink: 1;
    justify-content: center;
    align-items:center;
    display: flex;
    background-color: #747D88 ;
    height: 300px;
    width: 500px;
}

button {
    color: white;
    font-weight: 34px;
    font-family:'Roboto';
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 115px;
    padding: 1px;
    font-size: 15px;
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
}

/* content2 */

.random{
    margin-bottom: -15px;

}
.content2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Roboto';
    display: flex;
    margin-top: 20px;
}

.illustrations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}
.ex1{
    margin-bottom: 10px;
    height: 175px;
    width: 175px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 10px;
    background-color: white;
}


/* content3 */

.content3 {
    display: flex;
    background-color: #E5E7Eb;
    height: 320px;
    justify-content: baseline;
    flex-direction: column;
}

.quote {
    font-family: 'Roboto';
    margin-left: 350px;
    margin-right: 350px;
    font-weight: 300;
    text-align:inherit;
    font-size: 35px;

}

.thor {
    font-size:20px;
    font-family: 'Roboto';
    text-align: end;
    margin-right: 390px;
    margin-bottom: 1500px;
}

/* contetn4 */
.content4 {
    display: flex;
    margin-top:140px;
    justify-content: space-around;;
    height: 320px;
    background-color: white;
}

.call {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #3882f6;
    height: 200px;
    width: 1200px;
    border-style:none;
    border-radius:10px;
}

.action {
    font-size:15px;
    font-family: 'Roboto';
    color: white;
    text-align: start;
    margin-left: 12%;
    margin-top: 50px;
}

.abutton {
 
    font-size: 209px;
    font-weight: 34px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    transform:translateY(-75px);
    align-items: start;
    text-align: center;
    margin-bottom: 100px;
    margin-right: 70px;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    background-color:#1F2937;
    margin-bottom: 0px

}

.copyright {
    color: white;
    font-family: 'Roboto';
}